@model Prueba_Project.Modelo.Restaurant

@{
    ViewBag.Title = "hello you";
}

<div class="alert">
    <div class="jumbotron">
        @Html.EnumDropDownListFor(model => model.Cuisine, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
