@{
    ViewBag.Title = "hello you";
}

    <div class="alert">
        <div class="jumbotron">
            <select class="form-control" id="ddlName">
                <option></option>
            </select>
        </div>
    </div>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
